*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.hi
*.hp
*.imports
*.kdev4
*.liquid
*.log
*.o
*.out
*.prof
*.swp
*.tag
*_flymake.hs
*~
.#*
.cabal-sandbox/
.hpc
.hsenv
.stack-work/
.vagrant/
/*.iml
/.cabal-project-deps
/.cabal-sandbox/
/.ghc.environment*
/.idea/
/.stack-work
/_release/
/cabal.project.local
/docs/build/
/docs/hcar/auto/2015.el
/docs/hcar/prv_2015.fmt
/docs/source/__pycache__/
/docs/source/plugins/
/elisp/.cask/
/test/testdata/FuncTest.refactored.hs
/test/testdata/HaReAddRmParam.refactored.hs
/test/testdata/HaReCase.refactored.hs
/test/testdata/HaReDemote.refactored.hs
/test/testdata/HaReGA1.refactored.hs
/test/testdata/HaReMoveDef.refactored.hs
/test/testdata/HaReRename.hs.keep
/test/testdata/HaReRename.refactored.hs
/test/testdata/addPackageTest/**/stack.yaml
/test/testdata/addPackageTest/**/stack.yaml
/test/testdata/addPackageTest/hpack/*.cabal
/test/testdata/badProjects/cabal/stack.yaml
/test/testdata/completion/stack.yaml
/test/testdata/definition/stack.yaml
/test/testdata/gototest/stack.yaml
/test/testdata/redundantImportTest/stack.yaml
/test/testdata/stack.yaml
/test/testdata/wErrorTest/stack.yaml
TAGS
cabal-dev/
cabal.sandbox.config
dist-newstyle/
dist
tags
test-logs/
test-results/
.DS_Store

.hspec-failures
/test/testdata/addPragmas/stack.yaml
.vscode

# shake build information
_build/

# stack 2.1 stack.yaml lock files
stack*.yaml.lock
shake.yaml.lock

# ignore hie.yaml's for testdata 
test/**/*.yaml
