/.stack-work
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.log
*.out
*.pdf
/docs/hcar/auto/2015.el
/docs/hcar/prv_2015.fmt
