# To remove a submodule you need to:
#
#     Delete the relevant section from the .gitmodules file.
#     Stage the .gitmodules changes git add .gitmodules
#     Delete the relevant section from .git/config.
#     Run git rm --cached path_to_submodule (no trailing slash).
#     Run rm -rf .git/modules/path_to_submodule
#     Commit git commit -m "Removed submodule <name>"
#     Delete the now untracked submodule files
#     rm -rf path_to_submodule


[submodule "submodules/HaRe"]
	path = submodules/HaRe
	# url = https://github.com/bubba/HaRe.git
	url = https://github.com/wz1000/HaRe.git

[submodule "submodules/cabal-helper"]
	path = submodules/cabal-helper
	# url = https://github.com/arbor/cabal-helper.git
	# url = https://github.com/alanz/cabal-helper.git
	url = https://github.com/DanielG/cabal-helper.git
	# url = https://github.com/bubba/cabal-helper.git

[submodule "submodules/ghc-mod"]
	path = submodules/ghc-mod
	# url = https://github.com/arbor/ghc-mod.git
	# url = https://github.com/bubba/ghc-mod.git
	url = https://github.com/fendor/ghc-mod.git
  #url = https://github.com/mpickering/ghc-mod.git

[submodule "hie-bios"]
	path = hie-bios
	url = https://github.com/mpickering/hie-bios.git
	branch = multi-cradle
