*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.hi
*.hp
*.imports
*.log
*.o
*.out
*.pdf
*.prof
*.swp
*.tag
*_flymake.hs
*~
.cabal-sandbox/
.hpc
.hsenv
.stack-work/
.vagrant/
/*.iml
/.cabal-sandbox/
/.idea/
/.stack-work
/_release/
/docs/hcar/auto/2015.el
/docs/hcar/prv_2015.fmt
TAGS
cabal-dev/
cabal.sandbox.config
dist/
tags
/test/testdata/HaReRename.refactored.hs
/test/testdata/HaReCase.refactored.hs
/test/testdata/HaReDemote.refactored.hs
/test/testdata/HaReMoveDef.refactored.hs
/docs/source/__pycache__/
/docs/build/
/docs/source/plugins/
